<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta property="og:image" content="http://spelkosmos.se/images/facebooked-image.png" />
    <meta property="og:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | xml_escape }}" />

    {% if page.robots %}
      <meta name="robots" content="{{ page.robots }}" />
    {% endif %}

    {% if page.smart_banner %}
      <meta name="apple-itunes-app" content="app-id=1074034373">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CMerriweather" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <title>{% if page.title %}{% include page-title.liquid %} - {% endif %}Spelkosmos - En peppig podcast om spel</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/spelkosmos.png" alt="Spelkosmos" width="640" height="237" /></a>
    </header>

    <div id="wrapper">
      <main>
        <nav>
          {% if page.url != "/index.html" %}
            <a href="/">Hem</a> &gt; {% include page-title.liquid %}
          {% endif %}
        </nav>

        {{ content }}
      </main>
    </div>

    <footer>
      <a href="http://facebook.com/spelkosmos/"><img src="/images/facebook.png" alt="Facebook" width="52" height="52"></a>
      <a href="http://instagram.com/spelkosmos/"><img src="/images/instagram.png" alt="Instagram" width="52" height="52"></a>
      <a href="http://spelkosmos.se/itunes.rss"><img src="/images/rss.png" alt="RSS-ström" width="52" height="52"></a>
    </footer>
  </body>
</html>
