<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <title>
      {% if page.title %}
        {{ page.title }} - Spelkosmos
      {% else %}
        Spelkosmos
      {% endif %}
    </title>
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/spelkosmos.png" alt="Spelkosmos" width="640" height="237" /></a>
      <nav>
        <ul>
          <li><a href="/">Hem</a></li>
          <li><a href="/om-oss/">Om oss</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
